/* LINK TEST */

/* html {
    background-color: dodgerblue;
} */


.nav-link {
    color: white;
    margin-left: 4em;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
    color: yellow;
}

.nav-link:active {
    color: yellow;
}

.dropdown-item {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-item:hover {
    color: black;
    background-color: yellow;
    opacity: 0.8;
}

.navbar-toggler .navbar-toggler-right {
    background-color: white !important;
}

.navbar {
    background-color: black;
}

#brand-home {
    margin-left: 40px;
    margin-right: 20px;
}

.jumbotron {
    margin-bottom: 0px;
    margin-left: -4px;
    background-image: url(IMG/BRUJULA.png);
    background-position: 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
    min-height: auto;
    margin-top: -100px;
}

.test {
    background-color: lightblue;
    height: 400px;
}

#botones {
    margin: auto;
}

#boton1 { 
    height: 60px;
    width: 260px;
    background-color: yellow;
    opacity: 1;
    font-size: 1em;
    text-align: center;
    text-shadow: none;
    color: black;
    padding: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    margin: auto;
}

#boton1:hover, #boton2:hover {
    border: 0px solid black;
    background-color: lightyellow;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#boton2 { 
    height: 60px;
    width: 260px;
    background-color: yellow;
    opacity: 1;
    font-size: 1em;
    text-align: center;
    text-shadow: none;
    color: black;
    padding: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    top: -60px;
    left: 590px;
}


@media (max-width: 576px) { 
    #boton1 {
        font-size: 0.65em;
        margin-top: 100px;
        height: 32px;
        width: 140px;
        padding: 8px;
        position: relative;
    }
    
    #boton2 {
        font-size: 0.65em;
        height: 52px;
        width: 140px;
        padding: 11px;
        position: relative;
        top: 13px;  
        left: 170px;
    }
    
    #razones {
        font-size: 1.5em;
    }
    
    .jumbotron {
        margin-top: 0px;
    }
    
    #brand-home {
    margin-left: 0px;
    margin-right: 0px;
}
}

@media (min-width: 576px) {
    #boton1 {
        margin-top: 400px;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    #boton1 {
        margin-top: 450px;
        margin-bottom: 0;
    }
}

.banner {
    background-color: rebeccapurple;
    height: 70px;
    width: 100%;
}

@media (max-width: 576px) { 
    .banner {
        height: 55px;
    }
    
    #razones {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.05em;
        padding-top: 17px;
        margin-left: 20px;
    }
}

.container-fluid {
    height: auto;
}

.servicios {
    text-align: right;
    margin-right: 30px;
}

.banner {
    background-color: white;
}

.card-img-top {
    width: 90%;
    margin: auto;
    height: 300px;
}

.card-img-top:hover {
    opacity: 0.8;
}

.card {
    width: 33.333%;
    border: 0;
    background-color: white;
    border-radius: 0;
}

.card-block {
    background-color: white;
    color:black;
    height: 150px;
    margin-top: 25px;
}

.card-title {
    color: yellow;
    font-family: 'Montserrat', sans-serif
}

#titulo-tarjeta {
    color: yellow;
    text-decoration: none;
}

@media (max-width: 768px) { 
    .card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .card-img-top {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

#quote {
    background-image: url(IMG/quoteBIG2.png);
    background-size: 100%;
    background-position: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    margin: 0;
    border: 0;
}

@media (max-width: 768px) { 
    #quote {
        background-size: 100% 100%;
    }
}

@media (max-width: 576px) {
    #quote {
        height: 100px;
        background-size: 100% 100%;
    }
}

.formulario {
    background-color: white;
    height: auto;
    width: 100%;
}

#header-formulario {
    padding-top: 35px;
}

#titulo-formulario {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

#texto-titulo {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#lado-izq-form {
    height: 410px;
}

#lado-der-form {
    height: 410px;
}

#nombre {
    margin-top: 10px;
}

.form-labels {
    font-family: 'Montserrat', sans-serif;
}

.form-control {
    margin-top: -10px;
    border: 2px solid black;
    border-radius: 0;
    font-size: 12px;
}

#aceptar {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

a {
    color: black;
}

#example-text-input-msg {
    height: 320px;
}

#boton-enviar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    text-align: right;
    background-color: white;
    border: 0;
    margin-left: 515px;
    margin-top: -10px;
}

#boton-enviar:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    #boton-enviar {
        margin-left: 100px;
    }
}

.footer {
    background-color: black;
}

#titulo-footer {
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#contacto-footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 130%;
}

#footerPt2 {
    border-top: 2px solid yellow;
    padding-top: 10px;
}

.footer-item {
    color: yellow;
    display: inline; 
}

#footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo-footer {
    margin-right: -10px;
}

@media (max-width: 576px) {
    .logo-footer {
        margin-left: 55px;
    }
    
    #inicio-footer {
        margin-top: 10px;
    }
    
    #contacto-footer {
        font-size: 12px;
    }
    
    .footer-item {
        margin-left: -20px;
    }
}

#developer-contact1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

#developer-contact2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: auto;
    text-align: center; 
    font-size: 14px;
    margin-bottom: 15px;
}

#devguyIG {
    color: white;
}

#SN {
    color: white;
    font-weight: 700;
}

@media (max-width: 576px) {
    #developer-contact1 {
        color: white;
        margin-left: 25px;
        font-size: 12px;
    }

    #developer-contact2 {
        color: white;
        margin-left: 25px;
        font-size: 13px;
        margin-bottom: 15px;
    }
    
    #titulo-footer {
        font-size: 1.8em;
    }
}

#banner_tienda {
    height: 500px;
    width: 95%;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.9;
}

#letrero_comprar {
    color: white;
    font-size: 4em;
    padding-top: 40px;
}

#boton-tienda {
    color: white;
    background-color: black;
    border: 1px solid black;
    height: 80px;
    width: 250px;
    margin-top: 25px;
    margin-left: 20%;
    position: absolute;
    font-size: 1.4em;
    padding-top: 20px;
    padding-left: 40px;
}

#boton-reservar {
    color: white;
    background-color: black;
    border: 1px solid black;
    height: 80px;
    width: 250px;
    margin-top: 25px;
    margin-left: 55%;
    position: absolute;
    font-size: 1.4em;
    padding-top: 20px;
    padding-left: 20px;
}

#boton-tienda:hover, #boton-reservar:hover {
    background-color: white;
    color: black;
}

#logo-transparente {
    width: 60%;
    margin-left: 20%;
    margin-top: -70px;
}



@media (max-width: 576px) {
    #banner_tienda {
        height: 400px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
    }
    
    #letrero_comprar {
        color: white;
        font-size: 2em;
        padding-top: 20px;
    }
    
    #boton-tienda {
        color: white;
        background-color: black;
        border: 1px solid black;
        height: 80px;
        width: 200px;
        margin-top: 140px;
        margin-left: 18%;
        position: absolute;
        font-size: 1em;
        padding-top: 25px;
        padding-left: 40px;
    }

    #boton-reservar {
        color: white;
        background-color: black;
        border: 1px solid black;
        height: 80px;
        width: 200px;
        margin-top: 240px;
        margin-left: 18%;
        position: absolute;
        font-size: 1em;
        padding-top: 25px;
        padding-left: 20px;
    }
    
    #logo-transparente {
        width: 70%;
        margin-left: 15%;
        margin-top: -40px;
    }

}

#descargables {
    text-decoration: underline;
}

#descargables:hover {
    text-decoration: none;
}

.month {
    background-color: yellow;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#instagram {
    background-color: white;
    height: 600px;
}

.ig-post {
    height: auto;
    float: left;
}

.ig-post1 {
    background-color: none;
}

.ig-post2 {
    background-color: none;
}

.ig-post3 {
    background-color:none;
}

#titulo-ig {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    #instagram {
        background-color: white;
        height: 1400px;
        align-content: center;
    }

    .ig-post {
        height: auto;
        width: 100%;
        float: left;
        
    }

    .ig-post1 {
        background-color: none;
    }

    .ig-post2 {
        background-color: none;
    }

    .ig-post3 {
        background-color:none;
    }

    #titulo-ig {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

#SN:hover {
    color: yellow;
}

.boton-viaje {
    width: 48.5%;
    height: 60px;
    margin-top: 15px;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 17px;
}

.boton-viaje:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.descarga {
    float: left;
}

.comprar {
    float: right;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#tittle-modal {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.boton-pago {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 225px;
    height: 60px;
    padding-top: 20px;
    background-color: gainsboro;
}

.efectivo {
    float:left;
    margin-left: 250px;
}

.tarjeta {
    float: right;
    margin-right: 250px;
}

.boton-pago:hover {
    background-color: yellow;
}

#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.contenido {
    position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.banner-calendario {
    height: 700px;
    background-color: white;
}

.columna {
    height: auto;
    margin-top: 50px;
}

.a {
    float: left;
    background-color: none;
}

.b {
    float: right;
    background-color: none;
    padding-top: 200px;
}

#collage {
    width: 100%;
    margin: auto;
}

.banner-text {
    font-family: 'Montserrat', sans-serif;
}

#boton-calendario {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 170px;
    background-color: white;
    border: 1px solid black;
    padding-top: 12px;
    padding-left: 28px;
}

#boton-calendario:hover {
    background-color: black;
    color: white;
}

@media (max-width: 768px) {
    .b {
        padding-top: 0;  
    }
    
    #boton-calendario {
        align-content: center;
    }
    
    #myVideo {
        
        transform:scaleY(2);
        transform:scaleX(1);
    }
}

#boton-ig {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 170px;
    background-color: white;
    border: 1px solid black;
    padding-top: 12px;
    padding-left: 37px;
    margin-bottom: 30px;
    margin: auto;
}

#boton-ig:hover {
    background-color: black;
    color: white;
}

#tipos-tours {
    height: 550px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

.tipo {  
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}

.tipo:hover {
    opacity: 0.85; 
}

.largo {
    height: 220px;
    float: left;
    border: 5px solid white;
}

.chico {
    height: 220px;
    float: left;
    border: 5px solid white;
}

#t1 {
    background-image: url(IMG/TIPOS_TOURS/TODOS.png);
}

#t2 {
    background-image: url(IMG/TIPOS_TOURS/AVENTURA.jpg);
}

#t3 {
    background-image: url(IMG/TIPOS_TOURS/TEMPORADA.jpg);
}

#t4 {
    background-image: url(IMG/TIPOS_TOURS/FIG.jpg);
}

#t5 {
    background-image: url(IMG/TIPOS_TOURS/PUEBLOS.jpg);
}

#t6 {
    background-image: url(IMG/TIPOS_TOURS/INTERNACIONAL.jpg);
}

.tour-tittle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 175px;
}

.tour-tittle:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #tipos-tours {
        height: 1480px;
    }
    
    #tipos-tours {
        height: 220px; 
    }
    
    .largo {
        height:  125px;
    }
    
    .chico {
        height:  125px;
        width: 50%;
    }
    
    .tour-tittle {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 17px;
        margin-top: 85px;
        margin-left: -7px;
    }
    
    #dT, #pM {
        margin-top: 60px;
    }
    
    #t6 {
        margin-bottom: 40px;
    }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  height: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.8s;
  animation-name: fade;
  animation-duration: 2.8s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.texttt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    visibility: hidden;
    text-align: center;
}

.fa-money-bill-alt {
   margin-left: 20px; margin-right: 70px;
}
    
.fa-credit-card{
   margin-left: 70px; margin-right: 20px;
}

@media (max-width: 768px) {
    #instagram {
        visibility: hidden;
        display: none;
    }
    
    .texttt {
        display: block;
        visibility: visible;
    }
    
    .modal-content {
        margin-top: 100px;
        height: 550px;
    }
    
    #tittle-modal {
        padding-top: 10px;
    }
    
    .efectivo {
        margin-left: 15px;
    }
    
    .tarjeta {
        margin-top: 10px;
        margin-right: 15px;
    }
}

.relleno {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    margin-left: 20px;
}

#jumbotron-viaje {
    background-position: center;
    background-size: cover;
    padding-top: 170px;
}

.ver-info {
    height: 170px;
    text-align: center;
}

.listas li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: yellow; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
    font-size: 1.5em;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -0.85em; /* Also needed for space (tweak if needed) */
}

.itinerario-button {
    background-color: yellow;
    padding: 20px;
    padding-left: 100px;
}

.itinerario-info {
    padding-top: 20px;
    display: none;
}

#show:hover, #hide:hover {
    text-decoration: underline;
}

#titulo-viaje {
    font-family: 'Shadows Into Light', cursive;
}